/* .banner{
    background-image: url("../../assests/img/contact.jpg");     
    background-position: center;
    background-color: #000000a6;
    height: 400px;
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
} */

.center {
  width: 50%;
  margin: auto;
}

.titleText {
  margin-top: 150px;
  color: white;
  font-weight: 600;
}

.contact-map{
    max-width: 948px;
    height: 590px;
    
}

  