.mainImage {
  display: flex;
  align-items: center;
  margin: 20px 20px 20px 20px;
}
.mainImage {
  text-size-adjust: 30dp;
}
img {
  height: 400px;
  width: auto;
}
.why {
  align-items: center;
  text-align: justify;
  margin: 50px 80px 20px 80px;
  overflow: hidden;
  font-size: large;
  font-weight: 500;
}
.why h1 {
  text-align: center;
}

.cards {
  display: block;
  text-align: justify;
}
.cards h1 {
  text-align: center;
}
.moreClass {
  margin: 20px 0px 20px 0px;
  text-align: center;
}
.moreClass button {
  width: 100px;
}
.ImageCarousel {
  margin: 10px 10px 10px 10px;
}

.container-fluid {
  margin: 40px 50px 20px auto;
  padding-right: 100px;
  padding-left: 100px;
}
.imageintravel img {
  width: 90px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.imageintravel {
  text-align: center;
  align-content: center;
}
.imageintravel p {
  text-align: justify;
}
imageintravel h3 {
  text-align: center;
}
.videoContent {
  padding: 50px 50px;
  display: flex;
}
.for-two-div {
  color: white;
  font-size: 15px;
  text-align: justify;
}
.line {
  border: rgb(170, 177, 184) 1px solid;
}
